*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Grotesk Display Pro;
  src: url("fonts/Neue Haas Grotesk Display Pro 75 Bold.ttf");
}

html, body {
  margin: 0;
  padding: 0;
  background: black;
  -webkit-tap-highlight-color: transparent;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.container {
  height: 100vh;
  padding: 48px 24px 48px 24px;
  position: relative;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
}

.language {
  width: 48px;
  height: 40px;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(56px);
  border-radius: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.language a {
  font-family: Grotesk Display Pro, sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  letter-spacing: -0.5px;
  color: #ffffff;
}

.content {
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1, .ru-text {
  font-family: Grotesk Display Pro, sans-serif;
  font-weight: bold;
  font-size: 104px;
  line-height: 100%;
  color: #FFFFFF;
  margin: 0;
}

.content span {
  display: block;
  padding-bottom: 72px;
}

h1.en {
  max-width: 615px;
}

h1.ru {
  width: 775px;
}

h1.cz {
  width: 700px;
}

.btn-con {
  max-width: 284px;
  margin: 0 auto;
  line-height: 80px;
  background: #FFFFFF;
  border-radius: 82px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.btn {
  font-family: Grotesk Display Pro, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  color: #19191C;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  transition: all .5s ease;
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(56px);
  border-radius: 20px;
  width: 48px;
  z-index: 1;
  transform: translateY(78%);
  transition: all .5s ease;
  text-align: center;
}

.dropdown-content a {
  font-family: Grotesk Display Pro, sans-serif;
  color: #ffffff;
  line-height: 35px;
  text-decoration: none;
  display: block;
  transition: all .3s ease;
}

.dropdown-content a:hover {
  text-decoration: underline;
  transition: all .3s ease;
}

.language:hover .dropdown-content, .btn-con:hover .dropdown-content {
  opacity: 1;
  visibility: visible;
  transition: all .3s ease;
}

.language:hover {
  background: rgba(255, 255, 255, 0.32);
  transition: all .3s ease;
}

.mobile-btn {
  display: none;
}

.btn-con:hover {
  opacity: 0.8;
}

.btn-con .dropdown-content {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(56px);
  border-radius: 32px;
  transform: unset;
  width: 284px;
  height: 128px;
  z-index: 1;
  transition: all .5s ease;
  padding: 16px 24px;
}

.btn-con .dropdown-content a {
  padding: unset;
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
}

.btn-con .dropdown-content a:first-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
  padding-bottom: 8px;
}

.btn-con .dropdown-content a:last-child {
  padding-top: 8px;
}

.btn-con .dropdown-content a p {
  font-family: Grotesk Display Pro, sans-serif;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

@media (max-width: 950px) {

  h1.ru {
    font-size: 88px;
    width: 550px;
  }

  .ru-text {
    font-size: 88px;
  }

}

@media (max-width: 800px) {

  .content h1, .ru-text {
    font-size: 80px;
  }

  h1.ru {
    max-width: 550px;
  }

  h1.cz {
    max-width: 540px;
  }

}

@media (max-width: 570px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    padding: 0;
  }

  .content {
    position: unset;
    transform: unset;
    max-width: 270px;
    margin: 0 auto;
  }

  .unset {
    max-width: unset;
  }

  .content h1, .content span {
    font-size: 54px;
  }

  h1.cz, h1.ru  {
    width: unset;
  }

  h1.cz {
    width: 100%;
    max-width: 340px;
  }

  .btn-con {
    display: none;
  }

  .mobile-btn {
    display: block;
    max-width: unset;
    margin: 0;
    line-height: 64px;
  }

  .mobile-btn .dropdown-content {
    top: 0;
    transform: translateY(-100%);
    width: 100%;
  }

}









